<h1>Add Comment</h1>

<%= form_with model: @comment, url: user_post_comments_path do |form| %>
<div>
<p>
  <%= form.label :text %><br />
  <%= form.text_area :text, cols: 30, rows:1 %>
</p>
<p><%= form.submit "Submit", class: 'button_center' %></p>
</div>
<% end %>
