<div class="posts">
  <div class="title">        
      <h3><%= post.title %></h3>
  </div>
  <div class="post_info">
      <p><%= post.text %></p>
      <div class="likes">
        <span>Comments: <%= post.comment_counter %></span>,
        <span>Likes: <%= post.like_counter %></span>
      </div>
  </div>
</div>