<div class="user_card">
    <div class="image">
        <img src="<%= user.photo %>" alt="<%= user.name %>">
    </div>
    <div class="user_info">
        <p><%= user.name %></p>
        <p class="likes">Number of posts: <%= user.post_counter %></p>
    </div>
</div>