<div class="user_card">
  <div class="image">
      <img src="<%= user.photo %>" alt="<%= user.name %>">
  </div>
  <div class="user_info">
      <h1><%= user.name %></h1>
      <span class="likes">Number of posts: <%= user.post_counter %></span>
  </div>
</div>