
<%= form_with model: Like.new, method: :post, url: likes_path(@user, @post) do |form| %>
  <h1>Create Like</h1>
<div>
<p><%= form.submit "Create Like", class: 'button_center' %></p>
</div>
<% end %>
