<h1>Users Blog</h1>
<div class="user-container">
    <ul>
      <%@users.each do |user|%>
        <li>
          <a href="/users/<%= user.id%>">
            <%= render partial: 'partials/users', locals: { user: user } %>
          </a>
        </li>
      <%end%>
    </ul>
</div>